@import "./vars.scss";
@import "./normalize.scss";
@import "./themes/normal";
@import "./themes/dark.scss";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}
