@import "./vars.scss";
@import "./normalize.scss";
@import "./themes/normal";
@import "./themes/dark.scss";

.container {
  margin: 0 auto;
  max-width: 1208px;
  height: 100%;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  color: var(--primary-color);
}
/* .text {
  font: 700 12px/14px sans-serif;
} */
/* .text {
  font: var(--font-s);
} */

main {
  flex: 1 1 auto;
}
